<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div ng-app="brackets-creator">
    <div ng-controller="tournamentOrganizer" class="container" style="width: 900px;margin: 0 auto;">
      <div class="tournament">

        <div class="round" ng-repeat="round in rounds">

          <div class="matches">
            <div class="match-container" ng-class="{bye: isBye(match)}" ng-repeat="match in round.matches">
              <div class="match">
                <div class="player" ng-if="isNotBye(match.player_1)">
                  <span class="name">{{match.player_1.name}}</span>
                  <span class="score">{{printScore(0, match.result)}}</span>
                </div>
                <div class="player" ng-if="isNotBye(match.player_2)">
                  <span class="name">{{match.player_2.name}}</span>
                  <span class="score">{{printScore(1, match.result)}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="conectors-container">
            <div class="connector" ng-repeat="a in getConnectorsNumber(this.round.matches.length)">
              <div class="bracket-connector"></div>
              <div class="line-connector"></div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- // <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
