* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana; }

body {
  background-color: #f1f1f1; }

.popup-container {
  display: none;
  width: 1000px;
  height: 1000px; }

.popup {
  width: 600px;
  height: 200px;
  z-index: 1000;
  margin: 0 auto;
  background-color: #fff;
  position: absolute; }
  .popup div {
    float: left; }
    .popup div * {
      float: left; }

.round {
  width: 235px;
  overflow: hidden;
  float: left; }
  .round.one .match-container {
    padding: 10px 0; }
  .round.one .connector:first-child {
    margin-top: 10px; }
  .round.one .connector {
    margin-top: 45px; }
    .round.one .connector .bracket-connector {
      height: 71px; }
    .round.one .connector .line-connector {
      height: 36px; }
  .round.two .match-container {
    padding: 45px 0; }
  .round.two .connector:first-child {
    margin-top: 45px; }
  .round.two .connector {
    margin-top: 45px; }
    .round.two .connector .bracket-connector {
      height: 141px; }
    .round.two .connector .line-connector {
      height: 71px; }
  .round.three .match-container {
    padding: 115px 0; }
  .round.three .connector:first-child {
    margin-top: 45px; }
  .round.three .connector {
    margin-top: 45px; }
    .round.three .connector .bracket-connector {
      height: 141px; }
    .round.three .connector .line-connector {
      height: 71px; }
  .round .conectors-container {
    float: left; }
    .round .conectors-container .connector {
      width: 40px;
      overflow: hidden; }
      .round .conectors-container .connector .bracket-connector {
        float: left;
        width: 20px;
        border-top: solid 1px #cbcbcb;
        border-right: solid 1px #cbcbcb;
        border-bottom: solid 1px #cbcbcb;
        margin-top: 24px; }
      .round .conectors-container .connector .line-connector {
        float: left;
        width: 20px;
        border-bottom: solid 1px #cbcbcb;
        margin-top: 24px; }

.matches {
  width: 195px;
  overflow: hidden;
  float: left; }
  .matches .match-container {
    margin-bottom: 1px; }
    .matches .match-container .match {
      width: 195px;
      color: #333;
      cursor: pointer; }
      .matches .match-container .match .player {
        font-size: 13px;
        background-color: #fff; }
        .matches .match-container .match .player.one {
          height: 25px;
          border: solid 1px #cbcbcb; }
        .matches .match-container .match .player.two {
          height: 24px;
          border: solid 1px #cbcbcb;
          border-top: 0 !important; }
        .matches .match-container .match .player.loser .name {
          color: #cbcbcb; }
        .matches .match-container .match .player .name {
          float: left;
          padding-left: 10px;
          line-height: 23px; }
        .matches .match-container .match .player .score {
          width: 25px;
          float: right;
          line-height: 19px;
          margin: 2px 0;
          border-left: solid 1px #cbcbcb;
          text-align: center; }
