* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana; }

body {
  background-color: #f1f1f1; }

.round {
  width: 235px;
  overflow: hidden;
  float: left; }
  .round:last-child .lines {
    display: none; }
  .round.one .matches .match {
    padding: 10px 0; }
  .round.one .lines .corner {
    height: 71px;
    margin-top: 34px; }
  .round.one .lines .connector {
    margin-top: 69px; }
  .round.two .matches .match {
    padding: 45px 0; }
  .round.two .lines .corner {
    height: 141px;
    margin-top: 69px; }
  .round.two .lines .connector {
    margin-top: 139px; }
  .round.three .matches .match {
    padding: 115px 0; }
  .round.three .lines .corner {
    height: 281px;
    margin-top: 139px; }
  .round.three .lines .connector {
    margin-top: 279px; }
  .round.four {
    width: 195px; }
    .round.four .matches .match {
      padding: 255px 0; }
    .round.four .lines .corner {
      height: 281px;
      margin-top: 139px; }
    .round.four .lines .connector {
      margin-top: 279px; }

.group .matches {
  float: left; }
  .group .matches .match {
    width: 195px;
    color: #333; }
    .group .matches .match .player {
      height: 25px;
      font-size: 13px;
      background-color: #fff;
      border: solid 1px #cbcbcb; }
      .group .matches .match .player.one {
        margin-bottom: -1px; }
      .group .matches .match .player.two {
        margin-bottom: 1px; }
      .group .matches .match .player.loser .name {
        color: #cbcbcb; }
      .group .matches .match .player .name {
        float: left;
        padding-left: 10px;
        line-height: 23px; }
      .group .matches .match .player .score {
        width: 25px;
        float: right;
        line-height: 19px;
        margin: 2px 0;
        border-left: solid 1px #cbcbcb;
        text-align: center; }
.group .lines div {
  float: left; }
.group .lines .corner {
  width: 20px;
  border-top: solid 1px #cbcbcb;
  border-right: solid 1px #cbcbcb;
  border-bottom: solid 1px #cbcbcb; }
.group .lines .connector {
  width: 20px;
  border-bottom: solid 1px #cbcbcb; }
